/* handwritten */ 
@font-face {
  font-family: 'Heolgun';
  src: url('./Heolgun-PV5p7.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* print */
@font-face {
  font-family: 'Peppermint';
  src: url('./PeppermintPenMedium-MAmzJ.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
